name: Copilot Setup Steps


on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml

defaults:
  run:
    shell: pwsh

jobs:
  copilot-setup-steps:
    runs-on: ubuntu-latest

    permissions:
      # If you want to clone the repository as part of your setup steps, for example to install dependencies, you'll need the `contents: read` permission.
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
  
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: "./global.json"
  
      - name: Restore dependencies
        run: dotnet restore
  
      - name: Build
        run: dotnet build -p:ContinuousIntegrationBuild=True --no-restore --configuration Release